.hw-top {
    width: 100vw !important;
    height: 100vh !important;
    background: red;
    color: white;
    font-family: "Fascinate";
}

#plasmo-shadow-container {
    z-index: 99999999 !important;
    position: fixed !important;
}

#plasmo-overlay-0 {
    border: 8px solid aqua;
}